<header>
  <app-menu-bar />
</header>

<app-menu-title />

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://arda-wiki.pages.dev/imgs/meta-image.jpg"
      cardTitle="Meet the new Middle Earth Wiki"
      cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique dolores iusto omnis maiores a quisquam amet libero dolor ducimus esse id vero rem, consectetur, tempora accusantium saepe sit nobis ad!"
      cardLink="https://arda-wiki.pages.dev/"
    />
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://sasha-coffee-shop.pages.dev/assets/images/meta-image.png"
      carTitle="Sasha's Coffe Shop is now open"
      cardLink="https://sasha-coffee-shop.pages.dev/"
    />
    <app-small-card
      photoCover="https://pelican-town.pages.dev/assets/images/sdv-banner.jpg"
      carTitle="Meet Pelican Town, the new Stardew Valley website"
      cardLink="https://pelican-town.pages.dev/"
    />
    <app-small-card
      photoCover="https://precious-jewels-page.pages.dev/imgs/meta-img.png"
      carTitle="Precious Jewels has the best jewerly in town"
      cardLink="https://precious-jewels-page.pages.dev/"
    />
  </div>
</div>
